body {
  background-color: lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
h1 {
  font-size: 40px;
  text-align: center;
}
li > a {
  color: blue;
  font-weight: bold;
  font-size: 22px;
}
